@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
peachy orange #FFA552	
white #FFFFFF	
reddish brown #772F1A
pink lavender #D4AFCD

Heading Font: Inter Bold
Paragraph Font: Inter Regular */

main {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 300px;
    grid-template-rows: 200px 400px 200px;
    justify-items: center;
    align-items: center;
}
main h1 {
    grid-column: 2/4;
    grid-row: 1/2;
    font-family: "Inter";
    font-weight: bold;
    font-size: 7em;
}
#portrait {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: black;
    height: 300px;
    width: 300px;
}
#about {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: "Inter";
    font-size: 1.322em;
}